importFrom(tseries,kpss.test)
import(forecast,nloptr)

export(cmav,nemenyi,regopt,seasplot,mseastest,kdemode,decomp,
       coxstuart,wins,rowWins,colWins,theta,abc,xyz,abcxyz,
       nzlength,init.ets,mre,mre.plot,bias.coeff,sim.ets,ets2,sowhat,
	   residout)
