importFrom(tseries,kpss.test)
import(forecast,nloptr,numDeriv,zoo,Rcpp,MAPA)

export(cmav,nemenyi,regopt,seasplot,mseastest,kdemode,decomp,
       coxstuart,wins,rowWins,colWins,theta,abc,xyz,abcxyz,
       nzlength,init.ets,mre,mre.plot,bias.coeff,
       sim.ets,es,
       MPE,MAPE,SMAPE,MASE,GMRAE,hm,
       sowhat,ro,graphmaker,pintervals,
       sma,
       residout,stlboot,get.opt.k)
useDynLib(TStools)