importFrom("grDevices", "colorRampPalette", "gray", "rainbow", "rgb")
importFrom("graphics", "abline", "axis", "box", "boxplot", "hist",
           "image", "legend", "lines", "mtext", "par", "plot",
           "points", "polygon", "text", "title", "layout")
importFrom("stats", "cor.test", "deltat", "density", "end", "fft",
           "frequency", "friedman.test", "is.ts", "loess", "median",
           "na.exclude", "na.omit", "nlminb", "optim", "pbinom",
           "predict", "qt", "qtukey", "quantile", "sd", "start", "stl",
           "time", "ts", "ts.plot", "uniroot")
importFrom("stats", "qnorm", "runif")
importFrom("graphics", "arrows")
importFrom("stats", "alias", "as.formula", "coef", "lm", "approx", "mad")
importFrom("utils", "head", "tail")
importFrom("RColorBrewer", "brewer.pal")
importFrom("smooth", "hm", "es", "auto.ssarima", "auto.ces")
importFrom("MAPA", "tsaggr")
importFrom("tsutils","cmav","seasplot")

import(forecast)

export(regopt,mseastest,kdemode,
       nzlength,init.ets,mre,mre.plot,bias.coeff,
       sowhat,
       # Intervals
       intervals.ts,intervals.hm,intervals.qr,intervals.kde,
       intervals.empir,intervals.lowess,intervals.qr2,
       intervals.sd,intervals.mad,intervals.mae,
       # Other stuff       
       stlboot,smooth.thief,
       # Obsolete functions
	   cmav,nemenyi,seasplot,decomp,
	   coxstuart,wins,
	   geomean, lambdaseq,residout,get.opt.k,leadtrail,
       trendtest,lagmatrix,seasdummy,theta,abc,xyz,abcxyz)
